<h1>Este es el componente home</h1>

<!-- enlazar la página de ejercicios -->
<a href="ejer01">Ir al ejercicio 01 de la clase</a><br>
<a href="landing">Ir a la página de landing</a><br>


<hr>

<h1>Hola {{nombreUsuario}}</h1>
<input type="text" placeholder="Escribe tu nombre" [value]="nombreUsuario"
  (input)="cambiarNombre($event.target.value)"><br />
<h3>OJO, 2 tipos de enlace:</h3>
<a href="saludoenrutado/{{nombreUsuario}}">Primero: Ir al componente saludo enrutado a que me salude</a><br>
<a [href]="'saludoenrutado/' + nombreUsuario">Segundo: Ir al componente saludo enrutado a que me salude (usando binding)</a><br>
<hr>